<h1><%= t ".title" %></h1>
<p>
  <%= t ".str1" %> <a href="http://www.railstutorial.org/help"><%= t ".str2" %></a>.
  <%= t ".str3" %> <a href="http://www.railstutorial.org/book"> <em><%= t "rortutorial"%>
  <%= t "static-pages.about.book" %></em></a>.
</p>
